@for $i from 1 through 300 {
  .main-embedWidgetGenerator-container:has(.slm.w-#{$i}) {
    --slm-width: #{$i}vw;
    width: var(--slm-width);
  }
}

@for $i from 1 through 300 {
  .main-embedWidgetGenerator-container:has(.slm.h-#{$i}) {
    --slm-height: #{$i}vh;
    height: var(--slm-height);
  }
}